---
import Layout from '../layouts/Layout.astro';
import { Button } from '@/components/ui/button'
---

<Layout>
<h1 class="text-3xl font-bold underline text-red-500">
  Astro con Tailwind v4
</h1>

<Button>prueba boton</Button>
</Layout>
