---
---

<section id="about" class="py-24 px-6 max-w-3xl mx-auto text-left">
    <h2 class="text-5xl font-heading mb-16 text-center">
      <span class="border-2 border-main px-3">Sobre Mí</span>
    </h2>
  
    <div class="space-y-6 text-base text-muted-foreground leading-relaxed">
      <p>
        Soy Fabrizzio Zambrano, Profesional <strong class="text-white">Técnico titulado en Desarrollo de Software</strong> con enfoque en tecnologías web modernas. 
        Trabajo principalmente con <strong class="text-white">Astro, Next.js, React.js, Node.js</strong> y bases de datos relacionales como 
        <strong class="text-white"> MySQL y PostgreSQL</strong>. Me interesa construir soluciones eficientes y escalables, aplicando buenas prácticas en desarrollo Frontend y Backend.
      </p>
  
      <p>
        Me apasiona crear <strong class="text-white">interfaces limpias, accesibles y visualmente agradables</strong>, 
        cuidando tanto la experiencia de usuario como el rendimiento. Siempre estoy 
        <strong class="text-white"> buscando aprender</strong> nuevas herramientas, 
        <strong class="text-white"> mejorar mis habilidades</strong> y 
        <strong class="text-white"> crecer profesionalmente</strong> con cada proyecto.
      </p>
    </div>
  </section>
  