---
import { GitHub, LinkedIn } from "@/components/icons"
import { Button } from '@/components/ui/button'
---

<footer class="px-6 py-10 text-sm text-muted-foreground">
  <div class="max-w-6xl mx-auto border-t border-[#27324D] pt-8 flex flex-col md:flex-row items-center justify-between gap-4">
    
    <p class="text-center md:text-left font-light">
      © 2024 Fabrizzio Zambrano. Desarrollado con 
      <a 
        href="https://astro.build" 
        target="_blank" 
        rel="noopener noreferrer" 
        class="font-bold hover:underline"
      >
        Astro
      </a> 
      y diseñado en 
      <a 
        href="https://www.figma.com" 
        target="_blank" 
        rel="noopener noreferrer" 
        class="font-bold hover:underline"
      >
        Figma
      </a>.
    </p>
    
    <div class="hidden md:flex space-x-4">
      <a
        href="https://www.linkedin.com/in/fabrizzio-zambrano-602678334/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Button variant="neutral">
          <LinkedIn className="w-5 h-5" />
        </Button>
      </a>
      <a
        href="https://github.com/Fabrizzioxc"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Button variant="neutral">
          <GitHub className="w-5 h-5" />
        </Button>
      </a>
    </div>

  </div>
</footer>
