---
// src/layouts/Layout.astro
import '../styles/global.css'
import '@fontsource/dm-mono';
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header'

const { title = 'Portfolio | Fabrizzio Zambrano'} = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
     <meta name="description" content="Portafolio de Fabrizzio Zambrano. Desarrollador de software especializado en tecnologías web modernas como Astro, React y Node.js." />
  <link rel="canonical" href="https://tu-dominio.com/" />
  <meta property="og:title" content="Fabrizzio Zambrano - Desarrollador de Software" />
  <meta property="og:description" content="Portafolio con proyectos modernos, rápidos y optimizados." />
  <meta property="og:type" content="website" />
  <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <link rel="preload" href="/assets/fonts/Recoleta/Recoleta-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/SplitText.min.js" defer></script>
    <link
  rel="preload"
  href="/assets/fonts/Inter/files/inter-latin-wght-normal.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
  </head>
  <body class="bg-background text-foreground">
    <Header client:idle />
    
    <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <slot />
    </main>
    
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
